TensorFlowが正常にインストールできていて起動できるか確認。

In [3]:
import tensorflow as tf
print(tf.__version__)

1.13.1

通常は以下のようにセッションを切って行う。

In [8]:
x = tf.Variable(3, name="x")
y = tf.Variable(4, name="y")
f = x*x*y + y + 2

init = tf.global_variables_initializer()

with tf.Session() as sess:
    init.run()
    result = f.eval()
    print(result)

42

Jupytherなどの場合はセッションを開いておいたほうが便利。最後にクローズが必要。

In [11]:
sess = tf.InteractiveSession()
init = tf.global_variables_initializer()
init.run()

result = f.eval()
print(result)

42

線形回帰

正規方程式 $ \theta= ( X^T \cdot X )^{-1} \cdot X^T \cdot y $ を用いる

In [23]:
import numpy as np
from sklearn.datasets import fetch_california_housing
import pandas as pd

housing = fetch_california_housing()

pd_data = pd.DataFrame(data= np.c_[housing['data'], housing['target']],
                     columns= housing['feature_names'] + ['target'])
pd_data.head()

,MedInc,HouseAge,AveRooms,AveBedrms,Population,AveOccup,Latitude,Longitude,target
0,8.3252,41.0,6.984127,1.023810,322.0,2.555556,37.88,-122.23,4.526
1,8.3014,21.0,6.238137,0.971880,2401.0,2.109842,37.86,-122.22,3.585
2,7.2574,52.0,8.288136,1.073446,496.0,2.802260,37.85,-122.24,3.521
3,5.6431,52.0,5.817352,1.073059,558.0,2.547945,37.85,-122.25,3.413
4,3.8462,52.0,6.281853,1.081081,565.0,2.181467,37.85,-122.25,3.422

In [22]:
m, n = housing.data.shape
print(housing.data.shape)

(20640, 8)

In [20]:
housing_data_plus_bias = np.c_[np.ones((m,1)), housing.data]
print(housing_data_plus_bias.shape)

(20640, 9)

In [24]:
X = tf.constant(housing_data_plus_bias, dtype=tf.float32, name="X")
y = tf.constant(housing.target.reshape(-1,1), dtype=tf.float32, name="y")
XT = tf.transpose(X)

theta = tf.matmul(tf.matmul(tf.matrix_inverse(tf.matmul(XT, X)), XT), y)

theta_value = theta.eval()
print(theta_value)

[[-3.7185181e+01]
 [ 4.3633747e-01]
 [ 9.3952334e-03]
 [-1.0711310e-01]
 [ 6.4479220e-01]
 [-4.0338000e-06]
 [-3.7813708e-03]
 [-4.2348403e-01]
 [-4.3721911e-01]]

In [10]:
sess.close()